.gameSection{
    margin: 50px 100px; 
    border: 0.5px solid gray; 
    padding: 50px 100px; 
    border-radius: 20px;
}

.gameName{
    text-align: center;
}

.gameDetail{
    text-align: justify; 
    font-size: large;
}

.class-btn-a{
    text-decoration:none; 
    color:black; 
    font-size:20px;
}

.card-btn{
    width:50%; 
    margin-left:25%; 
    height:40px;
    padding-left:5%;
    background-color: #ff6131;
    border-radius: 40px 40px;
    color: black;
    margin-top: 20px;
    border: none;
}

.card-btn:hover {
    background-color: white;
    color: #ff6131;
    border: 1px solid #ff6131;
}

.modal-title{
    color:#ff6131;
}

.modal-req{
    color:#ff6131; 
    /* font-size:50px;  */
    margin-left:43%;
}